* {
    box-sizing: border-box; 
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0; 
    margin: 0; 
    padding: 20px;
}

h1 {
    color: #96659c; 
    font-size: 2em; 
    text-align: center; 
}

p {
    font-size: 1em; 
}

.box {
    background-color: white; 
    border: 2px solid #96659c; 
    padding: 15px; 
    margin-top: 20px; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}